name: Update Data

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Git - Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Version
        id: version
        uses: reecetech/version-increment@2024.4.4
        with:
          scheme: calver
          release_branch: main

      - name: .NET - Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: .NET - Publish
        shell: bash
        run: |
          dotnet publish src/Sidekick.Data/Sidekick.Data.csproj -c Release -r linux-x64 -o ./build --self-contained true
          chmod +x ./build

      - name: .NET - Execute
        shell: bash
        run: |
          dotnet ./build/Sidekick.Data.dll --folder ./data --poe1 Keepers --poe2 "Fate of the Vaal"

      - name: Commit data to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: data
